:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* es para restringir la seccion donde va todo el contenido de las paginas  */
.containerRetringido {
  max-width: 1100px;
}

/* estilos para el estado de los equipos  */
.estado{
  width: fit-content;
  padding: 4px 12px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
}
.activo {
  background-color: #DBFCE7;
  color: #016630;
}

.mantenimiento {
  background-color: #FFEDD4;
  color: #9F2D22;
}

.almacen {
  background-color: #02367022;
  color: #023670;
}